<input
  matInput
  (keyup)="applyFilter($event.target.value)"
  placeholder="Filter"
/>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Member Number</th>

    <th mat-cell *matCellDef="let member">{{ member.id }}</th>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>

    <th mat-cell *matCellDef="let member">{{ member.name }}</th>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>

    <th mat-cell *matCellDef="let member">{{ member.age }}</th>
  </ng-container>

  <ng-container matColumnDef="currentMember">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>

    <th mat-cell *matCellDef="let member">{{ member.currentMember }}</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
